<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT Bank</title>
    <link rel="stylesheet" href="../css/deposit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Welcome to BIT Bank</h1>
    <div class="container">
        <a><i class="fa-solid fa-circle-arrow-left back_icon" onclick="user()"></i></a><h2>Deposit your money instantly!!</h2>
        <form action="/deposit" method="POST">
            <!-- <span style="font-weight: bold; font-size: large;" >Deposit Money</span><br><br> -->
            <input class="input" type="number" required placeholder="Enter amount" name="amount"><br>
            <span style="font-weight: bold; font-size: large;">Enter your upi id</span><br><br>
            <input class="input" type="text" required placeholder="Enter upi ID">
            <button type="submit">Deposit</button>
        </form>
    </div>
    <script>
        document.getElementsByClassName("container")[0].addEventListener("DOMContentLoaded",(e)=>{
            e.preventDefault()
        function user(){
            location.href="./login"
        }
        })
    </script>
</body>
</html>