<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT Bank</title>
    <link rel="stylesheet" href="../css/transfer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Welcome to BIT Bank</h1>
    <div class="container">
        <a href="./User.html"><i class="fa-solid fa-circle-arrow-left back_icon"></i></a><h2>Hello! USER</h2>
        <form action="/transfer" method="POST">
            <span style="font-weight: bold; font-size: large;">Transfer Money</span><br><br>
            <input class="input" type="number" required placeholder="Enter amount" name="amount"><br>
            <span style="font-weight: bold; font-size: large;">Enter recipient account number  </span><br><br>
            <input class="input" type="number" required placeholder="Account number" name="accno">
            <button type="submit">Transfer</button>
        </form>
    </div>
    <script>
        document.getElementsByClassName("container")[0].addEventListener("DOMContentLoaded",(e)=>{
            e.preventDefault()
        })
    </script>
</body>
</html>