<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT Bank</title>
    <link rel="stylesheet" href="../css/user.css">
</head>
<body>
    <h1>Welcome to BIT Bank</h1>
    <div class="container">
        <h2>Welcome user</h2>
            <a href="/checkbal"><button type="submit" action="/checkbal" method="post">Check Balance</button></a>
            <a href="/withdraw"><button type="submit">Withdraw money </button></a>
            <a href="./deposit"><button type="submit">Deposit money</button></a>
            <a href="./transfer"><button type="submit">Transfer money</button></a>
            <p><a href="./">Logout</a></p>
            <p><a href="./delete">Delete account</a></p>
    </div>
</body>
</html>